body {
  background-color: white;
  text-align: center;

}


mat-checkbox {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-right: 40px;

}


/* .demo-inline-calendar-card {

  margin-right: auto;
  margin-left: auto;
  width: 25em;
} */





/* .datePicker {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 30px;

} */



#header {
  background-color: #eeeeee;
  color: #cf0a2c;

}

/* #services {
  text-align: center;
} */

#toolbar {
  color: blue;
  text-color: white;
}

#home {
  margin-left: 50em;
  background-color: white;
}

h1 {
  color: #e31836;


}

/* .demo-inline-calendar-card {
  margin-left: 50em;
}

.serviceCheckbox {
  margin-left: 30em;

} */

/* .flex-wrapper {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

} */



/* .addServices {
  margin-left: 30em;
} */

/* .submit {
  /* margin-top: 50em;
  margin-right: 30em; */






/* div {
  display: inline-block;
} */

/* .cal {
  margin-left: 20em;
  margin-bottom: 40em;

  height: 350px;
  width: 300px;
  padding-bottom: 20em;
  padding-right: 30em;
  text-align: center;
  justify-content: center;
} */

.services, .serviceHeading {

  text-align: center;



}

.calendar {
  width: 400px;
  background-color: #eee;

  margin-left: 60px;
  margin-top: 80px;
}

footer {
  background-color: #eee;
  height: 15vh;
  text-align: center;
  font-size: x-large;
}

p {
  padding: 2em;
}

button {
  margin: 1em;
  background-color: #eee;
  border: solid black 3px;
  color: black;

  justify-content: center;

}

/* .flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}





#timeButtons {
  height: 50px;
  column-width: 40px;


} */

.container {
  background-color: #e8e8e8;
  margin: 0 32em 0 32em;
}
