

<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->

  <body>
    <!-- <div class="services"  >




        <h1 class="serviceHeading">Services</h1>
        <mat-checkbox
            *ngFor="let s of services"
        >
            {{ s }}
            <br>

          </mat-checkbox>
          <br>
        <button mat-raised-button color="primary" class="addServices">Add Services</button>


    </div> -->


    <br><br><br>


      <mat-calendar class="calendar"
            [(selected)]="selected"
            (click)="dateChecker(selected)"
        >
            {{ selected }}



            <h1></h1>
        </mat-calendar>

        <div class="services">
        <h1 class="serviceHeading">Services</h1>
        <mat-checkbox
            *ngFor="let s of services"
        >
            {{ s }}
            <br>

          </mat-checkbox>
          <br>
        <button mat-raised-button color="primary" class="addServices">Add Services</button>
      </div>

      <br><br><br>


      <h1>Available times for {{ selected }} </h1>
      <br><br>


      <div
         *ngFor="let o of openings">
    <button
        (click)="dateChecker(selected)"
    >
        {{ o }}
    </button>
  </div>





      <br><br><br><br><br>
      <a href="/clientInfo"><button mat-raised-button color="primary" class="submit">Submit</button></a>

      <!-- </div> -->
      </body>

      <br><br>
      <footer>
        <p>&copy; Lizzi Luebke 2022</p>
        <address>
          Email:
          <a href="mailto:eluebke@costco.com"> Lizzi Luebke</a>
        </address>
      </footer>
