

<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->

  <body>
    <!-- <div class="services"  >




        <h1 class="serviceHeading">Services</h1>
        <mat-checkbox
            *ngFor="let s of services"
        >
            {{ s }}
            <br>

          </mat-checkbox>
          <br>
        <button mat-raised-button color="primary" class="addServices">Add Services</button>


    </div> -->





      <mat-calendar class="calendar"
            [(selected)]="selected"
            (click)="dateChecker(selected)"
        >
            {{ selected }}



            <h1></h1>
        </mat-calendar>


        <div class="services">
        <h1 class="serviceHeading">Services</h1>
        <mat-checkbox
            *ngFor="let s of services"
        >
            {{ s }}
            <br>

          </mat-checkbox>
          <br>
        <button mat-raised-button color="primary" class="addServices">Add Services</button>
      </div>




      <div
          *ngFor="let t of times"
      >
      <h3>
          {{ t.appointmentSlots }}
      </h3>


      </div>

      <h1>Available times for {{ selected }} </h1>
      <br><br>

      <br><br><br><br><br>
      <a href="/clientInfo"><button mat-raised-button color="primary" class="submit">Submit</button></a>

      <!-- </div> -->
      </body>

