<table>

    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <tr>
    
        <td>
            <button mat-raised-button color="primary">9:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">10:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="disabled">10:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">9:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">8:00 am </button>
        </td>
            
        <td>
            <button mat-raised-button color="disabled">8:00 am </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">9:00 am </button>
        </td>

    </tr>

    <tr>
    
        <td>
            <button mat-raised-button color="primary">10:00 am </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">11:00 am </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">12:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">11:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">11:00 am </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">12:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">11:00 am </button>
        </td>


    </tr>

    <tr>
    
        <td>
            <button mat-raised-button color="primary">4:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="primary">3:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="disabled">1:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="primary">2:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="primary">12:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">1:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">4:00 pm </button>
        </td>

    </tr>

    <tr>
    
        <td>
            <button mat-raised-button color="primary">9:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">10:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="disabled">10:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">2:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="primary">3:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="disabled">5:00 pm </button>
        </td>
            
        <td>
            <button mat-raised-button color="primary">6:00 pm </button>
        </td>

    </tr>

    <tr>
    
        <td>
            <button mat-raised-button color="primary">5:00 pm </button>
        </td>

        <td>
            <button mat-raised-button color="primary">10:00 am </button>
        </td>

        <td>
            <button mat-button disabled color="disabled">10:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">9:00 am </button>
        </td>

        <td>
            <button mat-raised-button color="primary">8:00 am </button>
        </td>
            
        <td>
            <button mat-button disabled color="disabled">8:00 am </button>
        </td>
            
       

    </tr>
</table>

