#header {
  background-color: #eeeeee;
  color: #cf0a2c;
}

#confirm {
  text-align: center;
}

#toolbar {
  color: red;
  text-color: white;
}

#home {
  margin-left: 100em;
  background-color: white;
}

h1 {
  color: white;
}
