<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
</head>

<div class="flex-wrapper">
<div class="container">


<body>


 <br><br>



      <h1 class="tireServices">Tire Services</h1><br>
      <h3>Book an appointment for Tire Installation, Tire Rotation or Battery Replacement</h3><br><br>



<a href="/date">
  <!-- <div class="container"> -->

<button mat-raised-button color="primary">Book Appointment</button>
    <!-- </div> -->
</a>

<br><br>



</body>
<br><br><br>

<footer>
  <p>&copy; Lizzi Luebke 2022</p>
  <address>
    Email:
    <a href="mailto:eluebke@costco.com"> Lizzi Luebke</a>
  </address>
</footer>
</div>
</div>
