<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
</head>

<body>


 <br><br>
  <mat-list>

<mat-list-item>

<a href="/date">
  <!-- <div class="container"> -->

<button mat-raised-button color="primary">Book Appointment</button>
    <!-- </div> -->
</a>
</mat-list-item>
<mat-divider></mat-divider>
<br><br>

  <h2>Tires</h2>
  <h3>Search by vehicle</h3>
  <h3>Search by License Plate #</h3>
  <h3>Search by size</h3>
  <h3>Search by item #</h3>



</mat-list>
</body>


