body {
    text-align: center;
    background-color: white;
    height: 75vh;
}

#header {
  background-color: #eeeeee;
  text-align: left;
  color: #cf0a2c;
}

mat-list-item {
  margin: auto;
  display: flex;
}

#toolbar {
  color: black;
  text-color: white;
}

#home {
  margin-left: 100em;
  background-color: white;
}

h1 {
  color: white;
}

/* .container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
} */

footer {
  background-color: #eee;
  height: 15vh;
  text-align: center;
  font-size: x-large;
}

p {
  padding: 2em;
}


