<div class="form">
  <h1>Client Information</h1>
<div>
  <mat-form-field appearance="fill">

    <mat-label>First Name: </mat-label>
    <input matInput placeholder="Bob" [formControl]="firstName" required>
    <mat-error *ngIf="firstName.invalid">{{getErrorMessagename()}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Last Name: </mat-label>
    <input matInput placeholder="Jones" [formControl]="lastName" required>
    <mat-error *ngIf="lastName.invalid">{{getErrorMessagelastName()}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Membership Number: </mat-label>
    <input matInput placeholder="123456789123" [formControl]="membershipNumber" required>
    <mat-error *ngIf="membershipNumber.invalid">{{getErrorMessageMembershipNumber()}}</mat-error>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Phone Number: </mat-label>
    <input matInput placeholder="555-123-4567" [formControl]="phoneNumber" required>
    <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagephoneNumber()}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Comments </mat-label>
    <input matInput placeholder="" [formControl]="comments" >
  </mat-form-field>
</div>

</div>



  <a href="/">
    <button mat-raised-button color="primary" class="next"

    >Back</button>

    <a
        href="/"
    >
        <button
            mat-raised-button color="primary" class="next"
            id="back"
        >
            Submit
        </button>

  </a>
<br><br><br><br><br><br><br><br>
<br><br><br>
  <footer>
    <p>&copy; Lizzi Luebke 2022</p>
    <address>
      Email:
      <a href="mailto:eluebke@costco.com"> Lizzi Luebke</a>
    </address>
  </footer>

