

.form {

    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 3em;





}

h1 {
  color: #e31836;
}


.firstName, .lastName, .comments {
    margin-right: 9em;

}

.phoneNumber, .vehicleMake {
    margin-right: 8em;
}

.email {
    margin-right: 12em;
}

.service {
    margin-right: 11em;
}

#asterisk {
    color: red;

}

.memberNumber {
  margin-right: 6em;
}



#header {
  background-color: #eeeeee;
  color: #cf0a2c;

}

#home {
  text-align: right;
}


footer {
  background-color: #eee;
  height: 15vh;
  text-align: center;
  font-size: x-large;
}

p {
  padding: 2em;
}

#back {

  margin-left: 20em;
}

.next {
  margin-right: 4em;
  margin-left: 44em;
}
